Body{font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: .9;
  text-align: center;}


header {background-color: black;
  height: 69px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid seashell;
  z-index: 1;
  top: 0px;}

.logo {display: flex;
  flex-grow: 1;}

header img{height: 50px;
  margin-left: 10px;}

a {color: seashell;
  text-decoration: underline;
  margin-right: 30px;
  font-family: Helvetica;}

main{display: flex;
align-items: center;
flex-direction: column;}

.mission{height: 700px;
  width: 1200px;
  position: relative;
  top: 36px;
  background-image: url(./images/img-mission-background.jpg);
  align-items: center;
  display: flex;
  justify-content: center;}

.band {background-color: black;
  align-items: center;
  width: 100%;
margin:0px;}


.tea_month{width: 1000px;
  height: 500px; /*this is a guess*/
  border: 3px solid red;
  position: relative;
  top: 36px;}

.locations{height:500px;
  width: 1200px;
  border: 3px solid green;
  position: relative;
  top: 36px;}

.contact{height: 200px;
  border: 3px solid yellow;
  position: relative;
  top: 36px;}

footer{text-align: left;
  margin-left: 20px;
  position: relative;
  top: 36px;
  margin-bottom: 20px;}
